{
  "todos": [
    {
      "id": 1,
      "name": "Pick up milk",
      "complete": false
    },
    {
      "id": 2,
      "name": "Pick up dry cleaning",
      "complete": true
    },
    {
      "id": 3,
      "name": "Grocery shopping",
      "complete": false
    },
    {
      "id": 4,
      "name": "Hem pants",
      "complete": false
    },
    {
      "id": 5,
      "name": "Oil change",
      "complete": true
    }
  ],
  "session": [
    {
      "id": 1,
      "name": "User",
      "email": "user@example.com",
      "authentication_token": "12937698127698712936"
    }
  ],
  "users": []
}
